doctype html
html
  head
    title Conikuvat.fi &ndash; Kuvia Suomen conitapahtumista
    meta(name='keywords', content='Conikuvat, valokuvaus, valokuvat, kuvat, con, coni, animetapahtuma, roolipelitapahtuma, Tracon, Ropecon, Desucon, Animecon, Yukicon, Mimicon, Cosvision')
    meta(name='description', content='Conikuvat.fi on suomalaisten valokuvauksen harrastajien yhteisö, jonka jäsenet valokuvaavat Suomessa järjestettäviä kulttuuri-, harraste- ja nuorisotapahtumia.')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/bundle.js', defer)
  body
    .container
      .row.lebensraum
        .col-md-offset-2.col-md-8
          .panel.panel-default
            .panel-heading: strong Iso conikuvat.fi-logo
            .panel-body I Am Placeholder
      .row.lebensraum
        .col-md-offset-2.col-md-8
          p <strong>Conikuvat.fi</strong> on suomalaisten valokuvauksen harrastajien yhteisö, jonka jäsenet valokuvaavat Suomessa järjestettäviä kulttuuri-, harrastus- ja nuorisotapahtumia.
          p Uusi Conikuvat.fi-sivusto avataan vuoden 2016 aikana. Siihen asti löydät conikuvaajien kuvat Anikin kuva-arkistosta ja Desugalleriasta:
      .row.lebensraum
        .col-md-offset-2.col-md-4
          .panel.panel-default
            .panel-heading: strong Uusi-kuiva
            .panel-body Le placeholder
        .col-md-4
          .panel.panel-default
            .panel-heading: strong Desugaltsu
            .panel-body Il placeholerolino
      p.text-muted.small.text-center Conikuvat.fi:tä rakkaudella tukevat Säätöyhteisö B2 ry, Tietovelhot Oy, Tracon ry ja Kehittyvien conien Suomi ry
