doctype html
html
  head
    title Conikuvat.fi &ndash; Kuvia Suomen conitapahtumista
    meta(name='keywords', content='Conikuvat, valokuvaus, valokuvat, kuvat, con, coni, animetapahtuma, roolipelitapahtuma, Tracon, Ropecon, Desucon, Animecon, Yukicon, Mimicon, Cosvision')
    meta(name='description', content='Conikuvat.fi on valokuvauksen harrastajien yhteisö, jonka jäsenet valokuvaavat Suomessa järjestettäviä kulttuuri-, harraste- ja nuorisotapahtumia.')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/bundle.js', defer)
  body
    .container
      .row.lebensraum
        .col-md-offset-2.col-md-8
          img(src='assets/conikuvat-cu.svg', style='width: 100%', alt='Conikuvat.fi')
      .row
        .col-md-offset-2.col-md-8
          p
            | <strong>Conikuvat.fi</strong> on valokuvauksen harrastajien yhteisö, jonka jäsenet
            | valokuvaavat Suomessa järjestettäviä kulttuuri-, harrastus- ja nuorisotapahtumia.
          p
            | Uusi Conikuvat.fi-sivusto avataan vuoden 2016 aikana. Siihen asti löydät
            | conikuvaajien kuvat Anikin kuva-arkistosta ja Desugalleriasta:
      .row
        .col-md-offset-2.col-md-4.col-sm-6.lebensraum
          a.aniki(href='http://kuvat.aniki.fi', target='_blank', title='Anikin vanha kuva-arkisto')
            img(src='assets/vanhakuvat.png', style='width: 100%', alt='Anikin vanha kuva-arkisto')
          a.aniki(href='http://uusi.kuvat.aniki.fi', target='_blank', title='Anikin uusi kuva-arkisto')
            img(src='assets/uusikuvat.png', style='width: 100%', alt='Anikin uusi kuva-arkisto')
        .col-md-4.col-sm-6.lebensraum
          a(href='https://desucon.fi/galleria', target='_blank', title='Desugalleria')
            img(src='assets/desugalleria_logo.svg', style='width: 100%', alt='Desugalleria')
      .row
        .col-md-offset-2.col-md-8
          p.text-muted.small.text-center
            | Conikuvat.fi:tä rakkaudella tukevat <a href='http://b2.fi' target='_blank'>Säätöyhteisö
            | B2 ry</a>, <a href='http://tietovelhot.fi' target='_blank'>Tietovelhot Oy</a>, <a
            | href='http://tracon.fi' target='_blank'>Tracon ry</a> ja <a href='https://desucon.fi'
            | target='_blank'>Kehittyvien conien Suomi ry</a>.
