@import '../node_modules/bootstrap/dist/css/bootstrap.min.css'

body, html
  margin 0
  padding 1em
  font 14px/1.4 'Lato' //, 'Helvetica Neue', Helvetica, Arial
  color #333

.ck-space-after
  margin-bottom 2em

.ck-slightly-more-space-after
  margin-bottom 2.5em

.ck-aniki-logo
  display block
  margin-bottom 0.5em
